<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.project.segunfrancis.hellodagger">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CountryCodePickerActivity"></activity>
        <activity
            android:name=".OnboardingActivity"
            android:theme="@style/OnBoardingTheme" />
        <activity
            android:name=".OTPVerificationActivity"
            android:theme="@style/OTPActivityTheme" />
        <activity
            android:name=".RxJavaActivity"
            android:label="@string/title_activity_main3"
            android:theme="@style/OnBoardingTheme" />
        <activity
            android:name=".BottomNavActivity"
            android:label="@string/title_activity_bottom_nav"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SecondActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.segunfrancis.hellodagger.MainActivity" />
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>